<% include header.ejs %>
<body>

<% include navigation.ejs%>

<form method="post" action="/neweffect">
    <input type="text" name="effect[name]">
    <input type="text" name="effect[description]">
    <input type="text" name="effect[type]">
    <input type="submit" value="Submit">
</form>

</body>