body
{
    font-family: 'Source Sans Pro', sans-serif;
}

#container {
    position: relative;
}

.mainsection {
    height: 100vh;
}

.loggedInDropDown.dropdown-toggle[role="button"] {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-user-img {
    height: 40px;
    width: 40px;
    margin: 0;
}

#first {
    background-image: url('../images/crowdblur.jpg');
    position: relative;
}

#first   > #overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: rgba(200,50,50,0.8);*/
}
h1 {
    text-align: center;
    color: white;
    margin-top: calc(25% - 1.5em);
    font-size: 5em;
}

#first  #arrowDown {
    position: absolute;
    color: white;
    cursor: pointer;
    background-color: green;
    margin: 0 auto;
    font-size: 5em;
    bottom: 25px;
    left: 50%;
    right: 50%;
}

#second {
    background-image: url('../images/pattern.png');
}

#second #svgguitar {
    max-width: 15%;
    transform: rotate(30deg);
}



.panel-heading {
    padding: 5px;
    padding-bottom: 15px;
}



.ef-name {
    font-size: 2em;
    float: left;
    word-wrap: break-word;
    max-width: 100%;
}

.ef-item {
    padding: 0;
}

.ef-item-inner {
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

#ef-effects {
    background: url('../images/pattern.png');
    color: black;
}

.ef-inner{
    max-width: calc(96% - 230px);
    /*margin: 0 auto;*/
    margin-left: 2%;
    width: calc(96% - 230px);
    min-height: 500px;
    margin-top: 50px;
    padding: 10px 5px 5px;
}

.ef-rating {
    text-align: right;
}

.ef-description {
    margin-bottom: 20px;
}

.ef-author {
    text-align: right;
}

.ef-author > span {
    margin-right: 5px;
}

.ef-type {
    float: left;
}


.rating {
    color: #FFD203;
    font-size: 18px;
}

#chat
{
    position: fixed;
    top: 50px;
    right: 0;
    height: calc(100vh - 50px);
    width: 230px;
    background-color: #222;
    z-index: 100;
}

#chat h3, p
{
    text-align: center;
    color: white;
}

#chatDiv
{
    position: relative;
    width: 100%;
    height: 100%;
}

#chatForm
{
    position:absolute;
    bottom: 5%;
    width: 250px;
}

#messagesDiv
{
    margin-left: 1.5%;
    width: 96.5%;
    height: calc(100% - 140px);
    border-radius: 5px;
    border: solid 2px white;
    overflow-y: scroll;
}

#m
{
    width: 188px;
    margin-left: 1.5%;
}

#messages
{
    list-style: none;
    padding-top: 2%;
    padding-left: 0%;
    color: white;
}

#messages > li {
    padding-left: 2%;
}

#messages > li:nth-of-type(2n){
    background-color:  #333;
    
} 

#sendMessageButton {
    background-color: transparent;
    border: 0px solid transparent;
    color: white;
    width: 33px;
    height: 33px;
    padding: 0;
    
}

#profile-container
{
    margin-top: 50px;
}

#profile-column
{
    float: left;
    height: calc(100vh - 50px);
    width: 45vh;
    min-width: 250px;
    background-color: #bbffbb;
}

#profile-column img
{
    border-radius: 10px;
    width: 230px;
    height: 230px;
}

#profile-div
{
    margin-top: 5%;
}

.center
{
    text-align: center;
}

#new-effect-container
{
    margin-top: 60px;
}



