/* Custom CSS
-------------------------------------------------- */
body
{
    font-family: 'Source Sans Pro', sans-serif;
    color: #505050;
}

h1, h2, h3, h4
{
    font-family: 'Montserrat', sans-serif;
}

/* Navigation
-------------------------------------------------- */
#container {
    position: relative;
}

.navbar-inverse
{
    /*background-color: #64BAAD;*/
    border: none;
    background: url("../images/menu_bg.jpg") repeat scroll left top
}

.item-menu
{
    padding-left: 15%;
    font-weight: bolder;
}

.mainsection {
    height: calc(100vh - 50px);
}

.loggedInDropDown.dropdown-toggle[role="button"] {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-user-img {
    height: 40px;
    width: 40px;
    margin: 0;
}

.navbar-inverse .navbar-nav>li>a
{
    text-transform: uppercase;
    font-weight: bold;
    color: #505050;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus
{
    /*color: #ffdf8f;*/
    color: #64BAAD;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus
{
    background-color: #64BAAD;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus
{
    background-color: #64BAAD;
}

.footer
{
    width: 100%;
    height: 60px;
    text-align: center;
    background: url("../images/menu_bg.jpg") repeat scroll left top
}

.footer p
{
    padding-top: 1.2%;
    font-size: 1.1em;
}

/* Index
-------------------------------------------------- */
#first {
    background-image: url('../images/crowdblur.jpg');
    position: relative;
    height: 100vh;
}

#first   > #overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: rgba(200,50,50,0.8);*/
}
h1 {
    text-align: center;
    color: white;
    margin-top: calc(25% - 1.5em);
    font-size: 5em;
}

#first  #arrowDown {
    position: absolute;
    color: white;
    cursor: pointer;
    background-color: green;
    margin: 0 auto;
    font-size: 5em;
    bottom: 25px;
    left: 50%;
    right: 50%;
}

#second {
    background-color: #89CBC1;
    background-image: url('../images/flat_guitar.jpg');
    background-size: 30%;
    background-position: center left;
    background-repeat: no-repeat;
    position: relative;
}

#second h2
{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin: 5%;
}

#second-content
{
    position: absolute;
    width: 40%;
    height: 94%;
    left: 32%;
    top: 3%;
}

#second-text
{
    font-size: 1.2em;
    color: #ffffff;
    margin-left: 6%;
    margin-top: 8%;
    width: 80%;
}

#third
{
    background-color: #8baeb0;
    height: calc(100vh - 110px);
}

#third-text
{
    margin-left: auto ;
    margin-right: auto ;
    padding-top: 2%;
    width: 55%;
    height: 40%;
    text-align: center;
}

#third-text p
{
    font-size: 1.2em;
    color: #ffffff;
}

#creators
{
    margin-left: auto ;
    margin-right: auto ;
    width: 55%;
    height: 30%;
    text-align: center;
    padding-top: 1%;
}

.creator
{
    width: 150px;
    border: 3px solid white;
}

.creators-title
{
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

.team-member
{
    float: left;
    text-align: center;
    margin-top: 2%;
    width: 33.333%;
    height: 100%;
    color: white;
}

.team-member-name
{
    text-transform: uppercase;
    margin-top: 1%;
    margin-bottom: 0;
}

.team-member a
{
    text-decoration: none;
    color: white;
}

.team-member a:hover
{
    text-decoration: none;
    color:#505050;
}

/* Effects Page
-------------------------------------------------- */
.panel-heading {
    padding: 5px;
    padding-bottom: 15px;
}

.panel
{
    margin-bottom: 0;
}

.row
{
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.ef-name {
    font-size: 2em;
    float: left;
    word-wrap: break-word;
    max-width: 100%;
}

.ef-item-container
{
    margin-top: 1%;
}

.ef-item {
    padding: 0;
}

.ef-item-profile
{
    width: 100%;
}

.ef-item-inner {
    padding: 5px;
    border-radius: 5px;
}

.ef-item-inner h3
{
    font-weight: bold;
    margin-left: 5px;
}

#ef-effects {
    background: url('../images/background-effects.png');
    background-size: 100%;
    background-position: center;
    background-color: #68C3A3;
}

.ef-inner{
    max-width: calc(96% - 230px);
    /*margin: 0 auto;*/
    margin-left: 2%;
    width: calc(96% - 230px);
    min-height: calc(100vh - 50px);
    margin-top: 50px;
    padding: 10px 5px 5px;
}

.ef-rating {
    text-align: right;
    margin-right: 2%;
    margin-top: 1%;
}

.ef-description {
    margin-bottom: 20px;
}

.ef-author {
    float: left;
    margin-left:5%;
}

.ef-author > span {
    margin-right: 5px;
}

.ef-type {
    float: left;
}

.ef-btnDownload
{
    float: right;
    margin-top: -2%;
}

.rating {
    color: #FFD203;
    font-size: 18px;
}

#chat
{
    position: fixed;
    top: 50px;
    right: 0;
    height: calc(100vh - 50px);
    width: 230px;
    z-index: 100;
    padding-left: 15px;
    border-left: solid 1px white;
}

.chat-title
{
    color: white;
    margin-top: 3%;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 3%;
    font-family: 'Montserrat', sans-serif;
}

#chatDiv
{
    position: relative;
    width: 100%;
    height: 100%;
}

#chatForm
{
    position:absolute;
    bottom: 6%;
    width: 250px;
}

#messagesDiv
{
    /*margin-left: 1%;*/
    width: 96.5%;
    height: calc(100% - 140px);
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    overflow-y: scroll;
}

#m
{
    width: 180px;
    margin-left: 1.5%;
}

#messages
{
    list-style: none;
    padding-top: 2%;
    padding-left: 0;
    color: #505050;
}

.media-object
{
    width: 40px;
    margin-top: 2px;
}

.media-object-triangle {
    display: inline-block;
    height: 0;
    width: 0;
    border: 5px solid white;
    position: absolute;
    left: 31px;
    top: 2px;
    border-left-color: transparent;
    border-bottom-color: transparent;

}

.media-body {
    float: right;
    margin-top: 2px;
    margin-right: 9.5px;
    padding-left: 4px;
    width: 75%;
    max-width: 75%;
    background-color: white;
    word-wrap: break-word;
    word-break:normal;
}

.media {
    margin-top: 5px;
    min-width: 100%;
    min-height:40px;
    display: inline-block;
    position: relative;;
}

.page-header {
    margin-top: 0;
}

#sendMessageButton {
    background-color: transparent;
    border: 0px solid transparent;
    color: white;
    width: 33px;
    height: 33px;
    padding-left:3px;
}

/* Profile Page
-------------------------------------------------- */
#profile-container
{
    margin-top: 50px;
    height: calc(100vh - 50px);
    width: 100%;
    background-image: url('../images/background-profile.png');
    background-size: 100%;
    background-color: #8baeb0;
}

#profile-container h3
{
    text-transform: uppercase;
    font-weight: bold;
}

.profile-h
{
    color: white;
}

#profile-column
{
    float: left;
    margin-left: 5%;
    height: calc(100vh - 50px);
    width: 38vh;
    min-width: 250px;
}

.profile-icon
{
    margin-right: 3%;
}

#userPicture
{
    margin-left: 7.5%;
    width: 85%;
    height: 30%;
    border-bottom: solid 1px white;
    padding-top: 2%;
    padding-bottom: 2%;
}

#totalEffects
{
    text-align: center;
}

#totalEffects h3
{
    font-weight: bold;
    font-size: xx-large;
}

#titleName
{
    margin-top: 4%;
}

#userProps
{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 8%;
    min-width: 85%;
    height: 30%;
    border-bottom: solid 1px white;
    word-wrap: break-word;
}

#userProps h4
{
    font-size: 14px;
}

#profile-add-effect
{
    margin-top: -5%;
    margin-right: 2%;
}

#profile-effects
{
    float: left;
    height: calc(100vh - 50px);
    width: 70%;
    min-width:750px;
}

#effects
{
    margin: 1%;
    width: 96%;
    height: 95%;
    border-radius: 10px;
}

#effects h3
{
    margin: 2%;
    border-bottom: solid 1px white;
    width: 82%;
}

#profile-column img
{
    border-radius: 10px;
    width: 230px;
    height: 230px;
}

#profile-div
{
    margin-top: 5%;
}

.center
{
    text-align: center;
}


/* New Effect Page
-------------------------------------------------- */
#new-effect-container
{
    margin-top: 50px;
    height: calc(100vh - 50px);
    width: 100%;
    background-image: url('../images/background.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

#new-effect-content
{
    float: left;
    width: 70%;
    height: 90%;
    margin-left: 20%;
    margin-top: 2%;
}

#new-effect-container h2
{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

#new-effect-container form
{
    width: 50%;
    margin-top: 7%;
}

#new-effect-container input, #new-effect-container select
{
    margin: 1%;
}

#new-effect-container textarea
{
    resize: none;
    margin: 1%;
    height: 100px;
}

#new-effect-container label
{
    color: white;
}

/* Error Page
-------------------------------------------------- */
#error
{
    width: 100%;
    height: calc(100vh - 110px);
    margin-top: 50px;
    background-color: #89CBC1;
    text-align: center;
    color: white;
}

#error-content
{
    padding-top: 9%;
}

#error h2
{
    font-weight: bold;
}

#error h2, #error h3
{
    text-transform: uppercase;
}

#error-nav
{
    border-top: solid 1px white;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#error-nav p
{
    margin: 2%;
}

#error-nav ul
{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

#error-nav li
{
    float: left;
    margin: 2%;
    font-size: 1.3em;
}

#error-nav a
{
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
}

#error-nav a:hover
{
    color: #505050;
}


/* Scrollbar
-------------------------------------------------- */
::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}
::-webkit-scrollbar-track-piece {
    background: white;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #505050;
    border-radius: 5px;
}
::-webkit-scrollbar-corner       {
    background: #505050;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #505050;
}