<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>

<body>

<header>
    <% include ../partials/header.ejs%>
</header>

<div id="container">
    <section class="page" id="first">
        <div id="overlay" class="faa-parent animated-hover">
            <h1>Arduino Open Source Pedal</h1>
            <a href="#second" id="arrowDown" class="nav fa fa-angle-double-down faa-vertical"></a>
        </div>
    </section>
    <section id="second" class="page">
        <img id="svgguitar" src="/images/guitar.svg" alt="">
    </section>
    <section class="page">qdfqsdf</section>
    <section class="page">qsdfqsdf</section>
</div>
<footer></footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="../javascript/script.js"></script>
</body>
</html>