<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>

<body>

<header>
    <% include ../partials/header.ejs%>
</header>

<div id="container">
    <section class="mainsection page" id="first">
        <div id="overlay" class="faa-parent animated-hover">
            <h1>Arduino Open Source Pedal</h1>
            <a href="#second" id="arrowDown" class="scrolldown nav fa fa-angle-double-down faa-vertical"></a>
        </div>
    </section>
    <section id="second" class="mainsection page">
        <!--<img id="svgguitar" src="/images/guitar.svg" alt="">-->

    </section>
    <section class="mainsection page" id="third">

        <div id="creators">
            <div class="team-member">
                <img src="/images/nathan.png" class="img img-circle creator">
                <p class="team-member-name">Nathan Van den Hende</p>
                <p>Arduino Expert</p>
                <a href="https://twitter.com/nathanvdhende" class="fa fa-twitter fa-lg"></a>
                <a href="https://www.linkedin.com/in/nathanvandenhende/nl" class="fa fa-linkedin-square fa-lg"></a>
            </div>
            <div class="team-member">
                <img src="/images/preben.png" class="img img-circle creator">
                <p class="team-member-name">Preben Neirijnck</p>
                <p>Backend Developer</p>
                <a href="https://twitter.com/preben353" class="fa fa-twitter fa-lg"></a>
                <a href="https://www.linkedin.com/pub/preben-neirijnck/67/490/b31" class="fa fa-linkedin-square fa-lg"></a>
            </div>
            <div class="team-member">
                <img src="/images/pieter.png" class="img img-circle creator">
                <p class="team-member-name">Pieter Verroken</p>
                <p>Frontend Developer</p>
                <a href="https://twitter.com/pieverr" class="fa fa-twitter fa-lg"></a>
            </div>
        </div>

    </section>
</div>
<footer></footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="../javascript/script.js"></script>
</body>
</html>